@model Driver
@{
    ViewData["Title"] = "Update Driver";
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4 card shadow p-3">
            <h2 class="text-center text-info">@ViewData["Title"]</h2>
            <form class="form-group" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input type="hidden" asp-for="DriverId" />
                <div class="form-floating mb-3">
                    <input asp-for="DriverName" class="form-control" placeholder="@Model.DriverName" />
                    <label asp-for="DriverName">Name</label>
                    <span asp-validation-for="DriverName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="CarReg" class="form-control" placeholder="@Model.CarReg" />
                    <label asp-for="CarReg">Car Registration Number</label>
                    <span asp-validation-for="CarReg" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
        </div>
    </div>
</div>
